<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <title>Sascha Walker's Website</title>
    <link rel="stylesheet" href="../styles/main.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="../js/jquery.slicknav.min.js"></script>

 
</head>

<div class="sidebar">
    <div class="box">
      <h1>Sidebar</h1>
      <div class="inner">
        <a href="../pages/index.html">Home</a>
        <a href="../pages/aboutMe.html">About Me</a>
        <a href="../posts/blogMain.html">Blog</a>
      </div>
    </div>
        <div class="box"><div class="inner">
            <p> [ put a quote here or something that would be a nice interest for my audience. ] </p>
        </div>
    </div>
    <div class="box">
      <h1>Socials and Email</h1>
      <div class="inner">
        <ul>
        <li><a href="https://www.linkedin.com/in/saschawalker/">Linkedin</a></li>
        <li><a href="https://github.com/SaschaWTech">Github</a></li>
        <li><a href="mailto:saschawalker@sascha-walker.com">saschawalker@sascha-walker.com</a></li>
      </ul>
      </div>
    </div>
</div>

<div class="main">
  <div class="box"><div class="inner">

    
  </div></div>
</div>

</html>
